.wrapperBurgerMenu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(30%, 30%);
  transform-origin: center;
}

.burger-menu {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 14px;
  border: 1px solid var(--text-color-d);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  display: none;
  outline: none;
}
#line1,
#line2,
#line3,
#line4,
#line5 {
  position: absolute;
  left: 50%;
  display: block;
  width: 21px;
  height: 3px;
  background-color: var(--text-color-d);
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
  transform-origin: center;
  will-change: transform;
}

#line1 {
  top: calc(50% - 4.7px);
}

#line2 {
  top: calc(50%);
}

#line3 {
  top: calc(50% + 5px);
}

#line4 {
  top: calc(50%);
  left: 30%;
  transform: rotate(-45deg);
  display: none;
}

#line5 {
  top: calc(50%);
  left: 30%;
  transform: rotate(45deg);
  display: none;
}
@supports (-moz-appearance: none) {
  #line1 {
    top: calc(50% - 5px); /* Firefox */
  }

  #line3 {
    top: calc(50% + 4.5px); /* Firefox */
  }
}
